.welcomeAccordion{
  width: 100%;
  background:#f2f2f2;
  color:#4c4c4c;
}

.welcomeAccordion-wrapper{
  max-width: 984px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  height: 100%;
  padding-bottom: 90px;
}

.welcomeAccordion-title{
  font-size: 32px;
  margin-bottom: 20px;
}

.welcomeAccordion-main p{
  color:#666;
  font-size: 18px;
  padding: 0 5%;
}

.welcomeAccordion-fullInfo{
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  height: 369px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in;
}

.welcomeAccordion-fullInfo.show {
  max-height: 369px;
}

.icon{
  height: 100px;
  width: 100px;
  border: solid 1px   #999;
  border-radius: 50%;
  margin: 0 auto 30px;
  position: relative;
}

.welcomeAccordion-fullInfo-item-first::before{
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%09%20%20height%3D%2236.152px%22%20viewBox%3D%220%200%2055%2036.152%22%20enable-background%3D%22new%200%200%2055%2036.152%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%09%3Cg%3E%09%09%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M27.495%2C25.285c-0.16%2C0-0.319-0.031-0.468-0.098L0.704%2C13.718C0.277%2C13.533%2C0%2C13.111%2C0%2C12.644%09%09%09c0-0.469%2C0.277-0.891%2C0.704-1.076L27.027%2C0.101c0.298-0.135%2C0.636-0.135%2C0.938%2C0l26.317%2C11.467%09%09%09c0.427%2C0.186%2C0.704%2C0.607%2C0.704%2C1.076c0%2C0.467-0.277%2C0.889-0.704%2C1.074L27.965%2C25.187C27.814%2C25.253%2C27.656%2C25.285%2C27.495%2C25.285%09%09%09L27.495%2C25.285z%20M4.115%2C12.644l23.38%2C10.188l23.376-10.188L27.495%2C2.457L4.115%2C12.644L4.115%2C12.644z%22%2F%3E%09%3C%2Fg%3E%09%3Cg%3E%09%09%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M27.495%2C36.152c-6.895%2C0-13.789-2.07-19.938-6.203c-0.324-0.217-0.519-0.586-0.519-0.975V16.447%09%09%09c0-0.648%2C0.525-1.176%2C1.175-1.176c0.649%2C0%2C1.174%2C0.527%2C1.174%2C1.176v11.895c11.227%2C7.271%2C24.99%2C7.271%2C36.217%2C0V16.447%09%09%09c0-0.648%2C0.525-1.176%2C1.175-1.176s1.175%2C0.527%2C1.175%2C1.176v12.527c0%2C0.389-0.195%2C0.758-0.519%2C0.975%09%09%09C41.284%2C34.082%2C34.391%2C36.152%2C27.495%2C36.152L27.495%2C36.152z%22%2F%3E%09%3C%2Fg%3E%09%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M53.826%2C31.08c-0.65%2C0-1.176-0.525-1.176-1.174V12.677c0-0.648%2C0.525-1.174%2C1.176-1.174%09%09c0.648%2C0%2C1.174%2C0.525%2C1.174%2C1.174v17.229C55%2C30.554%2C54.475%2C31.08%2C53.826%2C31.08L53.826%2C31.08z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
  background-position: center;
  width: 55px;
  height: 36.152px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
}

.welcomeAccordion-fullInfo-item-second::before{
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%09%20%20height%3D%2248.026px%22%20viewBox%3D%220%200%2050.432%2048.026%22%20enable-background%3D%22new%200%200%2050.432%2048.026%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%09%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M10.336%2C48.026c-0.243%2C0-0.476-0.076-0.672-0.219c-0.342-0.249-0.519-0.664-0.46-1.083l2.202-15.876%09%09L0.32%2C19.382c-0.293-0.305-0.394-0.744-0.264-1.147c0.131-0.401%2C0.471-0.697%2C0.888-0.772l15.783-2.811l7.477-14.088%09%09C24.389%2C0.216%2C24.776%2C0%2C25.213%2C0h0c0.437%2C0%2C0.824%2C0.216%2C1.009%2C0.563l7.552%2C14.14l15.713%2C2.759c0.417%2C0.075%2C0.757%2C0.371%2C0.888%2C0.772%09%09c0.131%2C0.403%2C0.03%2C0.843-0.265%2C1.147l-11.111%2C11.55l2.224%2C15.793c0.058%2C0.419-0.118%2C0.834-0.462%2C1.083%09%09c-0.196%2C0.143-0.429%2C0.218-0.672%2C0.218c-0.175%2C0-0.344-0.038-0.5-0.114L25.17%2C40.913l-14.333%2C6.998%09%09C10.681%2C47.986%2C10.508%2C48.026%2C10.336%2C48.026z%20M25.213%2C38.519c0.173%2C0%2C0.346%2C0.039%2C0.5%2C0.114l12.949%2C6.284l-1.974-14.256%09%09c-0.049-0.35%2C0.064-0.696%2C0.309-0.95l9.979-10.371l-14.172-2.524c-0.342-0.061-0.645-0.28-0.809-0.589L25.214%2C3.531l-6.777%2C12.695%09%09c-0.165%2C0.309-0.467%2C0.528-0.809%2C0.589L3.455%2C19.34l9.979%2C10.371c0.241%2C0.251%2C0.357%2C0.606%2C0.309%2C0.95l-1.978%2C14.256l12.949-6.284%09%09C24.869%2C38.557%2C25.038%2C38.519%2C25.213%2C38.519z%22%2F%3E%09%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M40.089%2C47.926c-0.155%2C0-0.311-0.034-0.455-0.104l-14.42-6.998l-14.42%2C6.998%09%09c-0.347%2C0.168-0.757%2C0.133-1.07-0.095C9.411%2C47.5%2C9.25%2C47.12%2C9.303%2C46.738l2.202-15.876L0.392%2C19.313%09%09c-0.267-0.277-0.36-0.68-0.241-1.047c0.119-0.366%2C0.431-0.637%2C0.81-0.705l15.783-2.811l7.547-14.14%09%09c0.363-0.681%2C1.479-0.681%2C1.842%2C0l7.552%2C14.14l15.783%2C2.811c0.379%2C0.068%2C0.691%2C0.339%2C0.811%2C0.705%09%09c0.119%2C0.367%2C0.026%2C0.77-0.241%2C1.047l-11.112%2C11.55l2.197%2C15.876c0.053%2C0.382-0.109%2C0.762-0.422%2C0.988%09%09C40.521%2C47.858%2C40.306%2C47.926%2C40.089%2C47.926z%20M25.213%2C38.618c0.156%2C0%2C0.312%2C0.034%2C0.456%2C0.104l13.117%2C6.366l-1.998-14.441%09%09c-0.045-0.317%2C0.06-0.637%2C0.281-0.867l10.108-10.506l-14.356-2.558c-0.314-0.056-0.588-0.255-0.738-0.537l-6.869-12.86%09%09l-6.866%2C12.86c-0.15%2C0.282-0.423%2C0.481-0.738%2C0.537L3.253%2C19.274L13.362%2C29.78c0.222%2C0.23%2C0.326%2C0.551%2C0.282%2C0.867L11.64%2C45.089%09%09l13.117-6.366C24.901%2C38.652%2C25.057%2C38.618%2C25.213%2C38.618z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
  background-position: center;
  width: 50px;
  height: 47.6146px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
}

.welcomeAccordion-fullInfo-item-third::before{
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%09%20%20%20viewBox%3D%220%200%2055.4%2038.9%22%20enable-background%3D%22new%200%200%2055.4%2038.9%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M55.2%2C24.8c-0.7-4.3-5.3-7.4-8.6-9.7c1.4-1.9%2C2.3-4.3%2C2.3-6.7c0-4.8-3.3-8.4-8-8.4c-4.6%2C0-8%2C3.5-8%2C8.4%09c0%2C2.5%2C0.9%2C4.9%2C2.3%2C6.7c-2.2%2C1.3-5.7%2C4.6-6.8%2C6.2c-1.3-1.1-2.5-2.1-3.7-2.9c0%2C0%2C0%2C0%2C0%2C0c1.4-2.1%2C2.3-4.8%2C2.3-7.5c0-5.8-4-10-9.5-10%09C12%2C0.8%2C8%2C5.1%2C8%2C10.9c0%2C2.7%2C0.9%2C5.4%2C2.3%2C7.5c0%2C0%2C0%2C0%2C0%2C0c-3.9%2C2.7-9%2C7.2-10%2C12.4c-0.4%2C2.1-0.6%2C4.3%2C0.7%2C5.8c1.9%2C2.3%2C6.4%2C2.3%2C15.5%2C2.3%09h2c9%2C0%2C13.5%2C0%2C15.4-2.3c1.1-1.3%2C1.1-3.2%2C0.9-5.1c1.3%2C0%2C4.1%2C0%2C5.4%2C0h1.6c7.4%2C0%2C11.1%2C0%2C12.8-1.9C55.6%2C28.4%2C55.5%2C26.6%2C55.2%2C24.8z%09%20M41%2C2.1c3.5%2C0%2C5.9%2C2.6%2C5.9%2C6.3c0%2C3.9-3%2C8-5.9%2C8c-3%2C0-5.9-4-5.9-8C35.1%2C4.7%2C37.5%2C2.1%2C41%2C2.1z%20M17.5%2C2.9c4.4%2C0%2C7.4%2C3.3%2C7.4%2C7.9%09c0%2C4.9-3.8%2C10-7.4%2C10c-3.7%2C0-7.4-5-7.4-10C10.1%2C6.2%2C13.1%2C2.9%2C17.5%2C2.9z%20M32.3%2C35.3c-1.3%2C1.5-6%2C1.5-13.8%2C1.5h-2%09c-7.9%2C0-12.6%2C0-13.9-1.5c-0.6-0.7-0.6-1.9-0.2-4.1c0.8-4.1%2C4.9-8.2%2C9.1-11.1c0%2C0%2C0.1-0.1%2C0.1-0.1c1.7%2C1.8%2C3.8%2C3%2C5.9%2C3%09c2.1%2C0%2C4.2-1.2%2C5.9-3c0%2C0%2C0.1%2C0.1%2C0.1%2C0.1c3.7%2C2.6%2C8.4%2C6.7%2C9.1%2C11.1C33%2C33.4%2C32.9%2C34.6%2C32.3%2C35.3z%20M52.9%2C28.3c-1%2C1.2-5%2C1.2-11.2%2C1.2%09h-1.6c-1.3%2C0-4.5%2C0-5.6%2C0c-0.1%2C0-0.1%2C0-0.1%2C0c-0.8-2.5-2.4-4.8-4.4-6.7c1-1.4%2C4.2-5%2C6.7-6.1c1.3%2C1.1%2C2.7%2C1.8%2C4.3%2C1.8%09c1.5%2C0%2C3-0.7%2C4.3-1.8c0.1%2C0.1%2C0.1%2C0.1%2C0.2%2C0.2c3.1%2C2.1%2C7.1%2C4.8%2C7.7%2C8.3C53.4%2C26.8%2C53.4%2C27.8%2C52.9%2C28.3z%22%2F%3E%3C%2Fsvg%3E") no-repeat;
  background-position: center;
  width: 55px;
  height: 38.6191px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;  
}

.welcomeAccordion-fullInfo-item-fourth::before{
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%09%20%20height%3D%2248.008px%22%20viewBox%3D%220%200%2034.915%2048.008%22%20enable-background%3D%22new%200%200%2034.915%2048.008%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M17.458%2C0C7.816%2C0%2C0%2C7.816%2C0%2C17.457c0%2C14.185%2C17.458%2C30.551%2C17.458%2C30.551s17.457-16.366%2C17.457-30.551%09C34.915%2C7.816%2C27.098%2C0%2C17.458%2C0%20M17.458%2C44.734c0%2C0-15.275-14.184-15.275-27.277c0-8.437%2C6.839-15.274%2C15.275-15.274%09s15.275%2C6.838%2C15.275%2C15.274C32.733%2C30.551%2C17.458%2C44.734%2C17.458%2C44.734%20M17.458%2C8.729c-4.822%2C0-8.729%2C3.908-8.729%2C8.729%09s3.907%2C8.729%2C8.729%2C8.729c4.821%2C0%2C8.729-3.909%2C8.729-8.729S22.279%2C8.729%2C17.458%2C8.729%20M17.458%2C24.004%09c-3.616%2C0-6.547-2.932-6.547-6.547c0-3.614%2C2.931-6.546%2C6.547-6.546s6.547%2C2.932%2C6.547%2C6.546%09C24.004%2C21.072%2C21.074%2C24.004%2C17.458%2C24.004%22%2F%3E%3C%2Fsvg%3E") no-repeat;
  background-position: center;
  width: 35px;
  height: 48.1249px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;  
}

.text span {
  display: block;
  font-size: 18px;
  padding-bottom: 15px;
  color: #666;
}

.welcomeAccordion-fullInfo-item{
  flex-basis: 240px;
  height: 344px;
}

.text p {
  color:#666;
  font-size: 14px;
  line-height: 28px;
  padding: 0 7% 20px;
}

.show-more{
  color: #3e8fcf;
  transition: .3s;
  position: relative;
  cursor: pointer;
}

.show-more:hover{
  color: #489de0;
}

.show-info{
  position: relative;
}

.show-more-span::after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 12px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%09%20%20%20viewBox%3D%220%200%205%203%22%20enable-background%3D%22new%200%200%205%203%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20id%3D%22strSmall_x5F_dark%22%20fill%3D%22%233e8fcf%22%20points%3D%222.5%2C3%200%2C0.696%200.738%2C0%202.5%2C1.607%204.262%2C0%205%2C0.696%20%22%2F%3E%3C%2Fsvg%3E") no-repeat;
  background-position: center;
  width: 10px;
  height: 6px;
  transition: .3s;
}

.show-more-span{
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background:transparent;
  height: 30px;
  width: 30px;
  top: 30px;
  transition: all .3s ease-in-out;
  display: block;
  margin: 12px auto 0;
  cursor: pointer;
}

.show-more-span:hover{
  border-color:#489de0;
  background:#489de0;
}

.show-more-span:hover::after{
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%09%20%20%20viewBox%3D%220%200%205%203%22%20enable-background%3D%22new%200%200%205%203%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20id%3D%22strSmall_x5F_dark%22%20fill%3D%22%23ffffff%22%20points%3D%222.5%2C3%200%2C0.696%200.738%2C0%202.5%2C1.607%204.262%2C0%205%2C0.696%20%22%2F%3E%3C%2Fsvg%3E") no-repeat;
    width: 10px;
    height: 6px;
  
}

.welcomeAccordion-main{
  margin-bottom: 20px;
}